path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #BD3613;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #D11C24;
  font: 18px sans-serif;
  pointer-events: none;
}
}
